.Burger{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-height:700px) and (min-width: 1000px){
    .Burger{
        width: 700px;
        height: 600px;
    }
}

@media (min-height:401px) and (min-width: 500px){
    .Burger{
        width: 450px;
        height: 400px;
    }
}


@media (max-height:400px) and (min-width: 500px){
    .Burger{
        width: 350px;
        height: 300px;
    }
}